In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import pandas as pd
import time
import numpy as np
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import gc
import matplotlib.pyplot as plt
import os

In [6]:
!ls data/fraud-detection

models	tmp  train.csv	train_sample.csv

In [3]:
dtypes = {
            'ip'            : 'uint32',
            'app'           : 'uint16',
            'device'        : 'uint16',
            'os'            : 'uint16',
            'channel'       : 'uint16',
            'is_attributed' : 'uint8',
            'click_id'      : 'uint32',
            }

In [4]:
train_df = pd.read_csv('data/fraud-detection/train_sample.csv', parse_dates=['click_time'], \
                       dtype=dtypes, usecols=['ip','app','device','os', 'channel', 'click_time', 'is_attributed'])

In [5]:
train_df.head()

       ip  app  device  os  channel          click_time  is_attributed
0   87540   12       1  13      497 2017-11-07 09:30:38              0
1  105560   25       1  17      259 2017-11-07 13:40:27              0
2  101424   12       1  19      212 2017-11-07 18:05:24              0
3   94584   13       1  13      477 2017-11-07 04:58:08              0
4   68413   12       1   1      178 2017-11-09 09:00:09              0

In [6]:
train_df['hour'] = pd.to_datetime(train_df.click_time).dt.hour.astype('uint8')
train_df['day'] = pd.to_datetime(train_df.click_time).dt.day.astype('uint8')

In [16]:
def do_count( df, group_cols, agg_name, agg_type='uint32', show_max=False, show_agg=True ):
    if show_agg:
        print( "Aggregating by ", group_cols , '...' )
    gp = df[group_cols][group_cols].groupby(group_cols).size().rename(agg_name).to_frame().reset_index()
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    if show_max:
        print( agg_name + " max value = ", df[agg_name].max() )
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return( df )

In [19]:
train_df = do_count( train_df, ['ip', 'day', 'hour'], 'ip_tcount', show_max=True ); gc.collect()

Aggregating by  ['ip', 'day', 'hour'] ...
ip_tcount max value =  28

0

In [20]:
train_df.head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_tcount
0,87540,12,1,13,497,2017-11-07 09:30:38,0,9,7,1
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,4
2,101424,12,1,19,212,2017-11-07 18:05:24,0,18,7,1
3,94584,13,1,13,477,2017-11-07 04:58:08,0,4,7,1
4,68413,12,1,1,178,2017-11-09 09:00:09,0,9,9,1

In [29]:
group_cols = ['ip', 'app']
train_df[group_cols].groupby(group_cols).size().rename('ip_app_count').to_frame().reset_index()

           ip  app  ip_app_count
0           9    9             1
1          10   11             1
2          10   12             1
3          10   18             1
4          19   14             1
5          20    2             2
6          20   12             1
7          20   18             1
8          25    3             1
9          27    1             1
10         27    2             1
11         27    9             1
12         27   18             2
13         31   26             1
14         33   12             1
15         36    3             1
16         36    7             1
17         36   21             1
18         59    3             2
19         59   12             1
20         63    2             1
21         63   14             1
22         63   23             1
23         85    9             1
24         88   18             1
25         92    3             1
26         92   18             1
27         95    3             1
28        114    2             1
29        117   10             1
...       ...  ...           ...
76256  363526   15             1
76257  363546    7             1
76258  363549   20             1
76259  363582    2             1
76260  363593   12             1
76261  363686   12             1
76262  363710    3             1
76263  363818    8             1
76264  363869   12             1
76265  363876   11             1
76266  363895   18             1
76267  363918   15             1
76268  363962   12             1
76269  363962   59             1
76270  363995   12             1
76271  363995   15             1
76272  364035    3             1
76273  364047    3             1
76274  364084   20             1
76275  364127   64             1
76276  364168   11             1
76277  364309    2             1
76278  364338    9             1
76279  364410   15             1
76280  364471   18             1
76281  364515   18             1
76282  364621    9             1
76283  364630   28             1
76284  364648    3             1
76285  364757    3             1

[76286 rows x 3 columns]

In [32]:
train_df.head(3)

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_tcount
0,87540,12,1,13,497,2017-11-07 09:30:38,0,9,7,1
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,4
2,101424,12,1,19,212,2017-11-07 18:05:24,0,18,7,1

In [85]:
train_df['ip_click_time'] = train_df[['ip', 'click_time']].groupby(['ip']).click_time.transform(lambda x: x.diff().shift(-1)).dt.seconds

       click_time
0         61540.0
1         12747.0
2         57936.0
3         19577.0
4         51097.0
5         13239.0
6         21269.0
7         52342.0
8          1648.0
9             NaN
10        75149.0
11        18524.0
12        50982.0
13         3246.0
14        81772.0
15            NaN
16        23882.0
17         2169.0
18        15119.0
19        43201.0
20        14076.0
21        81814.0
22        42248.0
23         1838.0
24        32689.0
25        43815.0
26            NaN
27        12302.0
28        22757.0
29        63937.0
...           ...
99970         NaN
99971         NaN
99972         NaN
99973         NaN
99974         NaN
99975         NaN
99976         NaN
99977         NaN
99978         NaN
99979         NaN
99980         NaN
99981         NaN
99982         NaN
99983         NaN
99984         NaN
99985         NaN
99986         NaN
99987         NaN
99988         NaN
99989         NaN
99990         NaN
99991         NaN
99992         NaN
99993         NaN
99994         NaN
99995         NaN
99996         NaN
99997         NaN
99998         NaN
99999         NaN

[100000 rows x 1 columns]

In [39]:
train_df.head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_tcount,ip_click_time
0,87540,12,1,13,497,2017-11-07 09:30:38,0,9,7,1,61540.0
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,4,12747.0
2,101424,12,1,19,212,2017-11-07 18:05:24,0,18,7,1,57936.0
3,94584,13,1,13,477,2017-11-07 04:58:08,0,4,7,1,19577.0
4,68413,12,1,1,178,2017-11-09 09:00:09,0,9,9,1,51097.0

In [77]:
train_df['ip_click_time_past'] = train_df[['ip', 'click_time']].groupby(['ip']).click_time.transform(lambda x: x.diff().shift(+1)).dt.seconds

In [78]:
train_df.tail(5)

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_click_time,ip_click_time_past
99995,124883,11,1,19,122,2017-11-09 13:25:41,0,13,9,NaN,11023.0
99996,85150,9,1,13,244,2017-11-07 11:25:43,0,11,7,NaN,20439.0
99997,18839,3,1,13,19,2017-11-08 11:38:42,0,11,8,NaN,43445.0
99998,114276,15,1,12,245,2017-11-08 17:55:21,0,17,8,NaN,61896.0
99999,119349,14,1,15,401,2017-11-07 14:32:27,0,14,7,NaN,181.0

Let's replace NaN with the group median.
We could compare performance with using something like -999 (since trees split on values and this value will never be seen in data set, this is a safe way to create an unknown category to split on).

In [49]:
from scipy.stats import gmean

In [83]:
train_df.groupby("ip")["ip_click_time"].transform(lambda x: x.fillna(x.median())).to_frame().tail()

       ip_click_time
99995         8861.5
99996        40960.0
99997        43445.0
99998        45093.0
99999        50377.0

In [67]:
train_df.tail(5)

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_tcount,ip_click_time,ip_click_time_past
99995,124883,11,1,19,122,2017-11-09 13:25:41,0,13,9,1,<bound method Series.median of 33228 4238....,11023.0
99996,85150,9,1,13,244,2017-11-07 11:25:43,0,11,7,1,<bound method Series.median of 597 67744....,20439.0
99997,18839,3,1,13,19,2017-11-08 11:38:42,0,11,8,1,<bound method Series.median of 7050 54090....,43445.0
99998,114276,15,1,12,245,2017-11-08 17:55:21,0,17,8,2,<bound method Series.median of 2510 56037....,61896.0
99999,119349,14,1,15,401,2017-11-07 14:32:27,0,14,7,4,<bound method Series.median of 1269 37799....,181.0

In [89]:
train_df.head(3)

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_click_time,ip_click_time_past
0,87540,12,1,13,497,2017-11-07 09:30:38,0,9,7,61540.0,NaN
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,12747.0,NaN
2,101424,12,1,19,212,2017-11-07 18:05:24,0,18,7,57936.0,NaN

In [7]:

def do_click_shift(df, group_cols, shift_name, agg_type='float32', shift_val=-1, show_max=False, \
                   show_agg=True):
    if show_agg:
        print( "Aggregating by ", group_cols , '...' )
    #gp = 
    df[shift_name] = df[group_cols + ['click_time']].groupby(group_cols).click_time.transform(lambda x: x.diff().shift(shift_val)).dt.seconds#.rename(shift_name).to_frame().reset_index()
    #add fillna code from above here
    #df = df.merge(gp, on=group_cols, how='left')
    #del gp
    if show_max:
        print( shift_name + " max value = ", df[shift_name].max() )
    df[shift_name] = df[shift_name].astype(agg_type)
    gc.collect()
    return( df )

will there still be NAs after filling with median? if so, could use -999 value

In [8]:
do_click_shift(train_df, ['ip'], 'ip_click_time2')

Aggregating by  ['ip'] ...

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_click_time2
0,87540,12,1,13,497,2017-11-07 09:30:38,0,9,7,61540.0
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,12747.0
2,101424,12,1,19,212,2017-11-07 18:05:24,0,18,7,57936.0
3,94584,13,1,13,477,2017-11-07 04:58:08,0,4,7,19577.0
4,68413,12,1,1,178,2017-11-09 09:00:09,0,9,9,51097.0
5,93663,3,1,17,115,2017-11-09 01:22:13,0,1,9,13239.0
6,17059,1,1,17,135,2017-11-09 01:17:58,0,1,9,21269.0
7,121505,9,1,25,442,2017-11-07 10:01:53,0,10,7,52342.0
8,192967,2,2,22,364,2017-11-08 09:35:17,0,9,8,1648.0
9,143636,3,1,19,135,2017-11-08 12:35:26,0,12,8,NaN
10,73839,3,1,22,489,2017-11-08 08:14:37,0,8,8,75149.0
11,34812,3,1,13,489,2017-11-07 05:03:14,0,5,7,18524.0
12,114809,3,1,22,205,2017-11-09 10:24:23,0,10,9,50982.0
13,114220,6,1,20,125,2017-11-08 14:46:16,0,14,8,3246.0
14,36150,2,1,13,205,2017-11-07 00:54:09,0,0,7,81772.0
15,72116,25,2,19,259,2017-11-08 23:17:45,0,23,8,NaN
16,5314,2,1,2,477,2017-11-09 07:33:41,0,7,9,23882.0
17,106598,3,1,20,280,2017-11-09 03:44:35,0,3,9,2169.0
18,72065,20,2,90,259,2017-11-06 23:14:08,0,23,6,15119.0
19,37301,14,1,13,349,2017-11-06 20:07:00,0,20,6,43201.0
20,28735,12,1,19,265,2017-11-09 09:55:22,0,9,9,14076.0
21,66918,64,1,25,459,2017-11-08 17:01:58,0,17,8,81814.0
22,25761,9,1,10,215,2017-11-08 02:05:37,0,2,8,42248.0
23,8362,7,1,19,101,2017-11-07 10:30:00,0,10,7,1838.0
24,45257,3,1,18,280,2017-11-07 01:35:31,0,1,7,32689.0
25,145896,64,1,13,459,2017-11-07 03:58:58,0,3,7,43815.0
26,162976,3,1,13,115,2017-11-07 16:19:05,0,16,7,NaN
27,52432,1,1,13,115,2017-11-07 17:22:52,0,17,7,12302.0
28,135690,12,1,40,122,2017-11-07 06:39:04,0,6,7,22757.0
29,139137,12,1,13,497,2017-11-07 10:11:50,0,10,7,63937.0
...,...,...,...,...,...,...,...,...,...,...
99970,57451,3,1,6,130,2017-11-09 13:35:55,0,13,9,NaN
99971,22529,3,1,22,173,2017-11-08 00:30:44,0,0,8,NaN
99972,118977,15,1,25,245,2017-11-07 05:02:52,0,5,7,NaN
99973,153487,2,1,42,477,2017-11-09 00:59:38,0,0,9,NaN
99974,13487,14,1,19,379,2017-11-08 08:08:40,0,8,8,NaN
99975,34029,14,1,13,467,2017-11-09 15:32:57,0,15,9,NaN
99976,6908,14,1,18,123,2017-11-07 22:59:12,0,22,7,NaN
99977,5788,18,1,58,439,2017-11-09 14:22:21,0,14,9,NaN
99978,190943,7,1,13,101,2017-11-09 11:47:49,0,11,9,NaN
99979,19162,9,1,37,489,2017-11-09 11:19:28,0,11,9,NaN
99980,111025,14,1,41,349,2017-11-08 12:58:11,0,12,8,NaN
99981,15651,10,1,1,377,2017-11-09 06:50:25,0,6,9,NaN
99982,5314,12,1,41,259,2017-11-09 02:09:20,0,2,9,NaN
99983,51379,3,1,41,135,2017-11-07 01:48:00,0,1,7,NaN
99984,185961,27,1,13,122,2017-11-07 05:02:01,0,5,7,NaN
99985,61500,3,1,10,280,2017-11-09 01:50:53,0,1,9,NaN
99986,119614,2,1,19,219,2017-11-07 11:27:54,0,11,7,NaN
99987,41851,11,1,28,319,2017-11-08 13:19:42,0,13,8,NaN
99988,69449,6,1,13,125,2017-11-09 13:53:30,0,13,9,NaN
99989,92730,3,1,19,379,2017-11-07 11:02:08,0,11,7,NaN
99990,84388,9,1,22,107,2017-11-09 04:21:28,0,4,9,NaN
99991,43374,1,1,18,134,2017-11-09 12:42:34,0,12,9,NaN
99992,125061,12,1,13,328,2017-11-07 09:33:14,0,9,7,NaN
99993,146258,3,1,13,280,2017-11-09 03:03:17,0,3,9,NaN
99994,147153,13,1,13,477,2017-11-07 07:34:13,0,7,7,NaN
99995,124883,11,1,19,122,2017-11-09 13:25:41,0,13,9,NaN
99996,85150,9,1,13,244,2017-11-07 11:25:43,0,11,7,NaN
99997,18839,3,1,13,19,2017-11-08 11:38:42,0,11,8,NaN
99998,114276,15,1,12,245,2017-11-08 17:55:21,0,17,8,NaN
99999,119349,14,1,15,401,2017-11-07 14:32:27,0,14,7,NaN

In [9]:
train_df.loc[train_df['ip']==105560].head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_click_time2
1,105560,25,1,17,259,2017-11-07 13:40:27,0,13,7,12747.0
1928,105560,15,1,19,245,2017-11-07 17:12:54,0,17,7,24613.0
2065,105560,26,1,19,121,2017-11-09 00:03:07,0,0,9,44767.0
2966,105560,20,1,22,478,2017-11-08 12:29:14,0,12,8,9104.0
2994,105560,3,1,13,466,2017-11-08 15:00:58,0,15,8,68187.0

### This is almost working but need this index column to be the group (here: ip) value:

In [103]:
train_df[['ip'] + ['click_time']].groupby(['ip']).click_time.transform(lambda x: x.diff().shift(-1)).dt.seconds.reset_index().rename(columns={'click_time':'ip_click_time2'})

       index  ip_click_time2
0          0         61540.0
1          1         12747.0
2          2         57936.0
3          3         19577.0
4          4         51097.0
5          5         13239.0
6          6         21269.0
7          7         52342.0
8          8          1648.0
9          9             NaN
10        10         75149.0
11        11         18524.0
12        12         50982.0
13        13          3246.0
14        14         81772.0
15        15             NaN
16        16         23882.0
17        17          2169.0
18        18         15119.0
19        19         43201.0
20        20         14076.0
21        21         81814.0
22        22         42248.0
23        23          1838.0
24        24         32689.0
25        25         43815.0
26        26             NaN
27        27         12302.0
28        28         22757.0
29        29         63937.0
...      ...             ...
99970  99970             NaN
99971  99971             NaN
99972  99972             NaN
99973  99973             NaN
99974  99974             NaN
99975  99975             NaN
99976  99976             NaN
99977  99977             NaN
99978  99978             NaN
99979  99979             NaN
99980  99980             NaN
99981  99981             NaN
99982  99982             NaN
99983  99983             NaN
99984  99984             NaN
99985  99985             NaN
99986  99986             NaN
99987  99987             NaN
99988  99988             NaN
99989  99989             NaN
99990  99990             NaN
99991  99991             NaN
99992  99992             NaN
99993  99993             NaN
99994  99994             NaN
99995  99995             NaN
99996  99996             NaN
99997  99997             NaN
99998  99998             NaN
99999  99999             NaN

[100000 rows x 2 columns]

In [97]:
df2 = train_df.merge(gp, on=['ip'], how='left')
df2.head()

KeyError: 'ip'

In [99]:
gp.head(2)

   index  ip_click_time2
0      0         61540.0
1      1         12747.0